<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="../public/js/global.js"></script>
	<!--script type="text/javascript" src="../js/index.js"></script-->
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<h1>Oregon Trail Project HTML File</h1>
</head>
<body onkeypress="spacebarPress">
	<center><h2 id = 'message'>Press the spacebar to continue<h2></center>
		<script type="text/javascript" src="../js/index.js"></script>
	<img src="/images/mountains.jpg" height="450" width="1000">
	<!--img src="/images/map.jpg" height="450" width="1000"-->
</body>
</html>
