<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="/js/mainmenu.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/mainmenu.css">
	<img id= "image" type="image/png" src="./images/logo.png">
</head>
<body>
		<ul>
  		<li><a href="/trail">1.Travel the trail</a></li>
  		<li><a href="/setup">2.Learn about the trail</a></li>
  		<li><a href="topten">3.See the Oregon top 10</a></li>
  		<li><a id = 'OnOfflbl' href="sound">4.Turn sound (on/off)</a></li>
		</ul>
		<center><p id = 'test'>Main Menu File-- Please press a number for the associated menu bar</p></center>

		<img id="sunset" type="image/jpg" src="./images/sunset.jpg">
</body>
</html>
