<!DOCTYPE html>
<html>
	<!--<div id="gameContainer">
	</div>-->
<head>
	<link rel="stylesheet" type="text/css" href="../css/setup.css">
	<img type="image/png" src="/images/logo.png">
	<div id="gameContainer">
	</div>
	<script type="text/javascript" src="../public/js/global.js"></script>
	<script type="text/javascript" src="../js/setup.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	
		
</head>

<!-- <body onkeypress="spacebarPress">
	<center><h2>Press the spacebar to return to Main Menu<h2></center>
	<center><p id= 'test'>Setup File</p></center>
	<ol>
		<li id = "occupationBanker"><a href="/api/setupOccupation?occupation=Banker">1. Be a Banker from Boston</a></li>
		<li><a href="/api/setupOccupation?occupation=Carpenter">2. Be a Carpenter from Ohio</a></li>
		<li><a href="/api/setupOccupation?occupation=Farmer">3. Be a Farmer from Illinois</a></li>
		<li><a href="DifferencesURL">4. Find out the differences between the choices</a></li>
	</ol>
</body> -->

</html>
