<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../public/js/global.js"></script>
	<script type="text/javascript" src="../js/setup.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/setup.css">
		<img type="image/png" src="/images/logo.png">
</head>
<body onkeypress="spacebarPress">
	<center><h2>Press the spacebar to return to Main Menu<h2></center>
	<center><p id= 'test'>Setup File</p></center>
	<ul>
		<li><a href="BankerURL">1. Be a Banker from Boston</a></li>
		<li><a href="CarpenterURL">2. Be a Carpenter from Ohio</a></li>
		<li><a href="FarmerURL">3. Be a Farmer from Illinois</a></li>
		<li><a href="DifferencesURL">4. Find out the differences between the choices</a></li>
	</ul>
</body>
</html>
