<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="/js/topten.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/topten.css">
  <img id= "image" type="image/png" src="./images/logo.png">
</head>
<body onload="table()">
	<center><h2>Press the spacebar to return to Main Menu<h2></center>
	<center><p id = 'test'>Top Ten File</p></center>
	<table id = "topTable" style="width:80%">

</table>
</body>
</html>
