<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="/js/trail.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/trail.css">

	<img id= "logo" type="image/png" src="./images/logo.png">
</head>
<body>
	<center><p id='test'>Trail File</p></center>
	<center><img id= 'trail' type="image/jpg" src="./images/trail.jpg"></center>
	<div>
		<!-- <p>1. Days on trail</p>
		<p>2. Miles traveled</p>
		<p>3. Party health status</p>
		<p>4. Current weather</p>
		<p>5. Current pace</p>
		<p>6. Current terrain</p>
		<p>7. # of party members alive</p> -->
		<form class="" id="playerData" action="index.html" method="post">
			Player 1's Name: <input type="text" name="player1"></br>
			Player 2's Name: <input type="text" name="player2"></br>
			Player 3's Name: <input type="text" name="player3"></br>
			Player 4's Name: <input type="text" name="player4"></br>
			Player 5's Name: <input type="text" name="player5"></br>
			<button type="button" name="button" onclick="submitName()">Submits</button>
		</form>
	</div>

</body>
</html>
